---
import Construction from "../components/Construction.astro";
---
<!-- desarrollado por RobertCoder (www.robertcoder.com) -->
<!-- IddO Tec 2024 (www.iddotec.com) -->

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>PROECUS</title>
	</head>
	<body class="max-w-screen-2xl h-screen mx-auto flex justify-center items-center">
		<Construction/>
	</body>
</html>