---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <section class="max-w-screen-2xl mx-auto">
        <div class="w-full bg-cover py-64 lg:py-80 lg:rounded-3xl lg:mt-4 lg:bg-center" style="background-image: url(/img/hero.jpg);">
            <p class="text-3xl font-medium text-center -mt-48 text-gray-800 lg:text-4xl lg:-mt-72">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </section>
</BaseLayout>
