---
import { Image } from "astro:assets"
import linea from "../../public/img/linea.svg"
---

<section id="about" class="flex flex-col justify-center items-center p-4">
    <h1 class="text-3xl font-medium">¿Quienes somos?</h1>
    <Image class="mb-4" src={linea} alt="linea"/>
    <p>En PROECUS, somos expertos en el sector agropecuario. Con una combinación única de innovación y experiencia, ofrecemos soluciones integrales para impulsar el éxito de nuestros clientes. Nuestra pasión por la excelencia impulsa cada aspecto de nuestro trabajo, y estamos comprometidos a brindar productos y servicios de la más alta calidad.</p>
</section>