---
import { Image } from "astro:assets"
import logoFull from "../../public/img/logoFull.png"
---

<footer class="m-4">
    <div class="w-full max-w-screen-2xl mx-auto p-4 lg:py-8">
        <hr class="my-6 border-gray-200 lg:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="flex flex-col items-center px-4 lg:flex-row lg:justify-between">
            <a href="/#" class="flex items-center mb-4 lg:mb-0 space-x-3 rtl:space-x-reverse">
                <Image class="rounded-lg max-w-60" src={logoFull} alt="logoFull"/>
            </a>
            <ul class="flex flex-wrap items-center text-sm font-medium text-gray-500 lg:mb-0 dark:text-gray-400">
                <li>
                    <a href="/#about" class="hover:underline me-4 lg:me-6">Nosotros</a>
                </li>
                <li>
                    <a href="/#promotions" class="hover:underline me-4 lg:me-6">Promociones</a>
                </li>
                <li>
                    <a href="/#contact" class="hover:underline">Contacto</a>
                </li>
            </ul>
        </div>
        <span class="mt-8 block text-sm text-gray-500 text-center dark:text-gray-400">© 2024 <a href="/#" class="hover:underline">PROECUS</a>. Todos los derechos reservados.</span>
    </div>
</footer>