---
import { Image } from "astro:assets";
import hero from "../../public/img/hero.jpg"
---

<section id="hero" class="scroll-mt-20 mt-20 sm:mt-0 sm:px-4">
    <Image class="w-full sm:rounded-3xl" src={hero} alt="hero" />
</section>