---

---

<header
    class="relative flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full bg-white text-sm py-4 dark:bg-gray-800"
>
    <nav
        class="max-w-screen-2xl w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between"
        aria-label="Global"
    >
        <div class="flex items-center justify-between">
            <a class="flex-none text-xl font-semibold dark:text-white" href="#">Logo</a>
            <div class="sm:hidden">
                <button
                    type="button"
                    class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-x-2 rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-transparent dark:border-gray-700 dark:text-white dark:hover:bg-white/10 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                    data-hs-collapse="#navbar-with-mega-menu"
                    aria-controls="navbar-with-mega-menu"
                    aria-label="Toggle navigation"
                >
                    <svg
                        class="hs-collapse-open:hidden flex-shrink-0 size-4"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        ><line x1="3" x2="21" y1="6" y2="6"></line><line
                            x1="3"
                            x2="21"
                            y1="12"
                            y2="12"></line><line x1="3" x2="21" y1="18" y2="18"
                        ></line></svg
                    >
                    <svg
                        class="hs-collapse-open:block hidden flex-shrink-0 size-4"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        ><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg
                    >
                </button>
            </div>
        </div>
        <div
            id="navbar-with-mega-menu"
            class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:block"
        >
            <div
                class="flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:ps-5"
            >
                <a
                    class="font-medium text-blue-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                    href="#"
                    aria-current="page">Nosotros</a
                >
                <a
                    class="font-medium text-gray-600 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                    href="#">Promociones</a
                >
                <a
                    class="font-medium text-gray-600 hover:text-gray-400 dark:text-gray-400 dark:hover:text-gray-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
                    href="#">Contacto</a
                >
                <div
                    class="hs-dropdown [--strategy:static] sm:[--strategy:fixed] [--adaptive:none]"
                >
                    <button
                        id="hs-mega-menu-basic-dr"
                        type="button"
                        class="flex items-center w-full text-gray-600 hover:text-gray-400 font-medium dark:text-gray-400 dark:hover:text-gray-500"
                    >
                        Catálogo
                        <svg
                            class="ms-1 flex-shrink-0 size-4"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"><path d="m6 9 6 6 6-6"></path></svg
                        >
                    </button>
                    <div
                        class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] sm:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 sm:w-48 z-10 bg-white sm:shadow-md rounded-lg p-2 dark:bg-gray-800 sm:dark:border dark:border-gray-700 dark:divide-gray-700 before:absolute top-full sm:border before:-top-5 before:start-0 before:w-full before:h-5 hidden"
                        style=""
                    >
                        <a
                            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300"
                            href="#"
                        >
                            Categoría 1
                        </a>
                        <a
                            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300"
                            href="#"
                        >
                            Categoría 2
                        </a>
                        <a
                            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300"
                            href="#"
                        >
                            Categoría 3
                        </a>
                        <a
                            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300"
                            href="#"
                        >
                            Categoría 4
                        </a>
                        <a
                            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300"
                            href="#"
                        >
                            Categoría 5
                        </a>
                        <a
                            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300"
                            href="#"
                        >
                            Categoría 6
                        </a>
                    </div>
                </div>
                <button
                    type="button"
                    class="hs-dark-mode-active:hidden block hs-dark-mode group flex items-center text-gray-600 hover:text-blue-600 font-medium dark:text-gray-400 dark:hover:text-gray-500"
                    data-hs-theme-click-value="dark"
                >
                    <svg
                        class="flex-shrink-0 size-6"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        ><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path></svg
                    >
                </button>
                <button
                    type="button"
                    class="hs-dark-mode-active:block hidden hs-dark-mode group flex items-center text-gray-600 hover:text-blue-600 font-medium dark:text-gray-400 dark:hover:text-gray-500"
                    data-hs-theme-click-value="light"
                >
                    <svg
                        class="flex-shrink-0 size-6"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        ><circle cx="12" cy="12" r="4"></circle><path
                            d="M12 8a2 2 0 1 0 4 4"></path><path d="M12 2v2"></path><path
                            d="M12 20v2"></path><path d="m4.93 4.93 1.41 1.41"
                        ></path><path d="m17.66 17.66 1.41 1.41"></path><path d="M2 12h2"
                        ></path><path d="M20 12h2"></path><path d="m6.34 17.66-1.41 1.41"
                        ></path><path d="m19.07 4.93-1.41 1.41"></path></svg
                    >
                </button>
            </div>
        </div>
    </nav>
</header>

<script>
    const HSThemeAppearance = {
        init() {
            const defaultTheme = "default";
            let theme = localStorage.getItem("hs_theme") || defaultTheme;

            if (document.querySelector("html").classList.contains("dark")) return;
            this.setAppearance(theme);
        },
        _resetStylesOnLoad() {
            const $resetStyles = document.createElement("style");
            $resetStyles.innerText = `*{transition: unset !important;}`;
            $resetStyles.setAttribute("data-hs-appearance-onload-styles", "");
            document.head.appendChild($resetStyles);
            return $resetStyles;
        },
        setAppearance(theme, saveInStore = true, dispatchEvent = true) {
            const $resetStylesEl = this._resetStylesOnLoad();

            if (saveInStore) {
                localStorage.setItem("hs_theme", theme);
            }

            if (theme === "auto") {
                theme = window.matchMedia("(prefers-color-scheme: dark)").matches
                    ? "dark"
                    : "default";
            }

            document.querySelector("html").classList.remove("dark");
            document.querySelector("html").classList.remove("default");
            document.querySelector("html").classList.remove("auto");

            document.querySelector("html").classList.add(this.getOriginalAppearance());

            setTimeout(() => {
                $resetStylesEl.remove();
            });

            if (dispatchEvent) {
                window.dispatchEvent(
                    new CustomEvent("on-hs-appearance-change", { detail: theme })
                );
            }
        },
        getAppearance() {
            let theme = this.getOriginalAppearance();
            if (theme === "auto") {
                theme = window.matchMedia("(prefers-color-scheme: dark)").matches
                    ? "dark"
                    : "default";
            }
            return theme;
        },
        getOriginalAppearance() {
            const defaultTheme = "default";
            return localStorage.getItem("hs_theme") || defaultTheme;
        },
    };
    HSThemeAppearance.init();

    window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", (e) => {
        if (HSThemeAppearance.getOriginalAppearance() === "auto") {
            HSThemeAppearance.setAppearance("auto", false);
        }
    });

    window.addEventListener("load", () => {
        const $clickableThemes = document.querySelectorAll("[data-hs-theme-click-value]");
        const $switchableThemes = document.querySelectorAll("[data-hs-theme-switch]");

        $clickableThemes.forEach(($item) => {
            $item.addEventListener("click", () =>
                HSThemeAppearance.setAppearance(
                    $item.getAttribute("data-hs-theme-click-value"),
                    true,
                    $item
                )
            );
        });

        $switchableThemes.forEach(($item) => {
            $item.addEventListener("change", (e) => {
                HSThemeAppearance.setAppearance(e.target.checked ? "dark" : "default");
            });

            $item.checked = HSThemeAppearance.getAppearance() === "dark";
        });

        window.addEventListener("on-hs-appearance-change", (e) => {
            $switchableThemes.forEach(($item) => {
                $item.checked = e.detail === "dark";
            });
        });
    });
</script>
