---
import { Image } from "astro:assets";
import linea from "../../public/img/linea.svg";
import producto1 from "../../public/img/productos/producto1.jpg";
import producto2 from "../../public/img/productos/producto2.jpg";
import producto3 from "../../public/img/productos/producto3.jpg";
---

<section id="promotions" class="dark:bg-gray-800 dark:text-white scroll-mt-16 lg:p-4">
    <h1 class="text-3xl font-medium text-center">Nuestros productos</h1>
    <Image class="mb-4 mx-auto" src={linea} alt="linea" />
    <article>
        <div
            data-hs-carousel='{"loadingClasses": "opacity-0", "isAutoPlay": true }'
            class="relative"
        >
            <div
                class="hs-carousel relative overflow-hidden w-full min-h-[450px] lg:rounded-3xl lg:min-h-[1000px]"
            >
                <div
                    class="hs-carousel-body absolute top-0 bottom-0 start-0 flex flex-nowrap transition-transform duration-700 opacity-0"
                >
                    <div class="hs-carousel-slide">
                        <a href="#">
                            <div class="flex flex-col items-center justify-center h-full">
                                <Image class="object-cover h-full" src={producto1} alt="producto1"/>
                                <article class="p-4 bg-gray-100 lg:min-h-[400px] lg:w-full dark:bg-gray-600">
                                    <h1 class="text-xl font-medium text-center lg:mt-12">Producto 1</h1>
                                    <p class="mt-1 text-center pb-4 lg:pb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi magnam natus distinctio voluptatem nemo nisi.</p>
                                </article>
                            </div>
                        </a>
                        </div>
                    <div class="hs-carousel-slide">
                        <a href="#">
                            <div class="flex flex-col items-center justify-center h-full">
                                <Image class="object-cover h-full" src={producto2} alt="producto2"/>
                                <article class="p-4 bg-gray-100 lg:min-h-[260px] lg:w-full dark:bg-gray-600">
                                    <h1 class="text-xl font-medium text-center lg:mt-12">Producto 2</h1>
                                    <p class="mt-1 text-center  pb-4 lg:pb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi magnam natus distinctio voluptatem nemo nisi.</p>
                                </article>
                            </div>
                        </a>
                    </div>
                    <div class="hs-carousel-slide">
                        <a href="#">
                            <div class="flex flex-col items-center justify-center h-full">
                                <Image class="object-cover h-full" src={producto3} alt="producto3"/>
                                <article class="p-4 bg-gray-100 lg:min-h-[260px] lg:w-full dark:bg-gray-600">
                                    <h1 class="text-xl font-medium text-center lg:mt-12">Producto 3</h1>
                                    <p class="mt-1 text-center  pb-4 lg:pb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi magnam natus distinctio voluptatem nemo nisi.</p>
                                </article>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <button
                type="button"
                class="hs-carousel-prev hs-carousel:disabled:opacity-50 disabled:pointer-events-none absolute inset-y-0 start-0 inline-flex justify-center items-center w-[46px] h-full text-gray-800 hover:bg-gray-800/[.1]"
            >
                <span class="text-2xl" aria-hidden="true">
                    <svg
                        class="size-6 fill-white"
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
                        ></path>
                    </svg>
                </span>
                <span class="sr-only">Previous</span>
            </button>
            <button
                type="button"
                class="hs-carousel-next hs-carousel:disabled:opacity-50 disabled:pointer-events-none absolute inset-y-0 end-0 inline-flex justify-center items-center w-[46px] h-full text-gray-800 hover:bg-gray-800/[.1]"
            >
                <span class="sr-only">Next</span>
                <span class="text-2xl" aria-hidden="true">
                    <svg
                        class="size-6 fill-white"
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
                        ></path>
                    </svg>
                </span>
            </button>

            <div
                class="hs-carousel-pagination flex justify-center absolute bottom-3 start-0 end-0 space-x-2"
            >
                <span
                    class="hs-carousel-active:bg-blue-700 hs-carousel-active:border-blue-700 size-3 border border-gray-400 rounded-full cursor-pointer"
                ></span>
                <span
                    class="hs-carousel-active:bg-blue-700 hs-carousel-active:border-blue-700 size-3 border border-gray-400 rounded-full cursor-pointer"
                ></span>
                <span
                    class="hs-carousel-active:bg-blue-700 hs-carousel-active:border-blue-700 size-3 border border-gray-400 rounded-full cursor-pointer"
                ></span>
            </div>
        </div>
    </article>
</section>
